* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  max-width: 100dvw;
  max-height: 100dvh;
  padding: 0.5rem 1rem;
}
h1 {
  text-align: center;
  padding-bottom: 0.5rem;
}
#pokemon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 1rem;
}
.pokemon {
  width: 100%;
  background-color: green;
  padding: 1rem;
}
