* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  max-width: 100dvw;
  max-height: 100dvh;
  display: flex;
  justify-content: center;
}
#pokemon-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(150px, 1fr));
  justify-items: center;
  gap: 1rem;
}
.pokemon {
  background-color: green;
  padding: 1rem;
}
